.contact_container {
  padding: 3em;
  margin: 0 3vw;
  overflow: none;
}

input[type=text], input[type=email], textarea {
  width: 50%; /* Full width */
  padding: 1em; /* Some padding */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1em; /* Add a top margin */
  margin-bottom: 1em; /* Bottom margin */
  /* margin-left: 3em; */
  margin-right: 5em;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: 'Red Hat Display', sans-serif;
}

label {
  padding-right: 4em;
  font-weight: 900;
}

input[type=submit] {
  background: none;
  color: white;
  border: 5px solid white;
  padding: 5px;
  margin-right: 4em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 900;
  z-index: 2;
}

input[type=submit]:hover {
  color: gray;
  opacity: .3;
}

#anotherOne {
  color: white;
  border: 5px solid white;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}
