body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 900;
}
