.resume {
  text-align: left;
  width: 60%;
  padding:  3vh 3vw;
  overflow: auto;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .resume {
    width: 90%;
    max-height: 50vh;
  }
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  color: gray;
  opacity: .3;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

a:focus {
  outline: none;
  box-shadow: 0 0 3px 3px white;
}

#download {
  border: 5px solid white;
  padding: 5px;
  text-decoration: none;
}

#download:focus {
  outline: none;
  box-shadow: 0 0 3px 3px white;
}

#covid {
  font-size: 10px;
}
